<section #sectionEl class="about fade-in-section" id="about">
  <div class="container">
    <h2 class="section-title">about me</h2>

    <div class="about-content">
      <div class="about-text">
        <p>
          i'm a final year applied artificial intelligence student at singapore institue of
          technology (SIT), i have a passion for exploring ai technologies to create innovative
          solutions that address real-world challenges. i enjoy exploring the intersection of ai
          and software development, and i'm constantly seeking opportunities to learn and grow in
          this dynamic field.
        </p>
      </div>
    </div>
  </div>
</section>
