<section #sectionEl class="about fade-in-section" id="about">
  <div class="container">
    <h2 class="section-title">about me</h2>

    <div class="about-content">
      <div class="about-text">
        <p>
          i'm a final year applied artificial intelligence student at singapore institue of technology (SIT), i have a passion for exploring ai technologies to create innovative solutions that address real-world challenges. i enjoy exploring the intersection of ai and software development. i'm currently looking for opportunities to continue on my path ai related development, you may reach me at my email (at the above bar) or through my linkedin.
        </p>
      </div>
    </div>
  </div>
</section>
